<style>
    .topWriters {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .topWriters .topContainer {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .topWriters .cardTitle {
        display: flex;
        align-items: center;
    }

    .topWriters .slideIcon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .topWriters .slideIcon button {
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        background-color: #f6f6f6;
    }

    .topWriters .cardContainer {
        width: 90vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        padding-bottom: 20px;
    }

    .topWriters .cardContainer::-webkit-scrollbar {
        height: 8px;
    }

    .topWriters .cardContainer::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
    }

    .topWriters .cardContainer .card {
        min-width: 250px;
        max-width: 250px;
        height: 170px;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 13px;
        overflow: hidden;
        background: #0078e8;
        margin-right: 20px;
    }

    .topWriters .cardContainer .card .topCard {
        width: 100%;
        height: 60px;
        display: flex;
        overflow: hidden;
        align-items: end;
        justify-content: center;
    }

    /*.topWriters .cardContainer .card .topCard .topperText {
        width: 100%;
        height: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: start;
    }*/

    .topWriters .cardContainer .card .topCard .topperText {
        width: 100%;
        height: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: start;
        transform: rotate(-5deg);
        /* Adjust the angle as needed */
        transform-origin: left center;
        margin-top: 8px !important;
        /* Ensures the rotation starts from the left */

        /* also subtract section padding (1.5rem) */
        margin: 0 -601.5rem;
        /* add back section padding (1.5rem) */
        padding: 0.25rem 1.5rem;
    }

    .topWriters .cardContainer .card .topCard .topperText marquee {
        color: #000;
        text-transform: capitalize;
        font-size: 12px;
    }

    .topWriters .cardContainer .card .bottomCard {
        width: 100%;
        height: calc(100% - 70px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .topWriters .cardContainer .card .bottomCard .profileArea {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85px;
        height: 100%;
    }

    .topWriters .cardContainer .card .bottomCard .profileArea .profile {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .topWriters .cardContainer .card .bottomCard .profileArea .profile img {
        width: 100%;
        height: 100%;
    }

    .topWriters .cardContainer .card .bottomCard .profileText {
        width: calc(100% - 85px);
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        color: #f6f6f6;
        padding: 10px;
    }

    .topWriters .cardContainer .card .bottomCard .profileText h3 {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: left;
        font-weight: 700;
    }

    .topWriters .cardContainer .card .bottomCard .profileText span {
        font-size: 12px;
        color: #f6f6f6;
        margin: 0px;
        line-height: 20px !important;
        text-align: left;
    }

    .topWriters .cardContainer .card .bottomCard .profileText .name {
        width: 100%;
        /*height: 50%;*/
        overflow: hidden;
        display: flex;
        align-items: end;
    }

    .topWriters .cardContainer .card .bottomCard .profileText .articleAmount {
        width: 100%;
        /*height: 50%;*/
        overflow: hidden;
        display: flex;
        align-items: start;
        /*blur overflow code*/
    }

    .artCart .innerCard {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(70, 70, 70, 0.377);
        backdrop-filter: blur(3px);
        padding: 10px 0px 10px;
    }

    .artCart .innerCard .artTitle {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .artCart .innerCard .artBtn {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .artCart .innerCard .artTitle a {
        text-decoration: none;
    }

    .artCart .innerCard .artTitle h3 {
        font-size: 16px;
        margin-left: 20px;
        line-height: 15px;
        color: #fff;
    }

    .artCart .innerCard .artBtn button {
        background: transparent;
        border: none;
        height: 100%;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .artCart .innerCard .artBtn button svg {
        fill: #fff;
    }
</style>

<div class="topWriters">
    <div class="topContainer">
        <div class="cardTitle">
            <h3>Trending</h3>
        </div>
        <div class="slideIcon">
            <!-- Scroll buttons -->
            <button id="tscrollLeft" title="Scroll Left" aria-label="Scroll Left">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                </svg>
            </button>
            &nbsp;
            &nbsp;
            <button id="tscrollRight" title="Scroll Right" aria-label="Scroll Right">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Card -->
    <div class="cardContainer" id="tcardContainer">
        {{#if trend}}
        {{#each trend}}
        <div class="card artCart"
            style="background: url({{#if this.new_thumb}}'/img/article/{{this.endpoint}}-{{this._id}}-0.jpg'{{else}}{{#if this.new_thumb}}'/img/article/{{this.endpoint}}-{{this._id}}-0.jpg'{{else}}'{{#if this.new_thumb}}/img/article/{{this.endpoint}}-{{this._id}}-0.jpg{{else}}/img/article/{{this._id}}.jpg{{/if}}'{{/if}}{{/if}})  no-repeat center center;  background-size: cover;">
            <div class="innerCard">
                <div class="artTitle">
                    <a href="/page/{{this.endpoint}}">
                        <h3>{{this.title}}</h3>
                    </a>
                </div>
                <div class="artBtn">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            >
                            <path
                                d="M480.18-353.85q60.97 0 103.47-42.68t42.5-103.65q0-60.97-42.68-103.47t-103.65-42.5q-60.97 0-103.47 42.68t-42.5 103.65q0 60.97 42.68 103.47t103.65 42.5ZM480-392q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm.11 152q-129.96 0-236.88-70.73Q136.31-381.46 83.08-500q53.23-118.54 160.04-189.27T479.89-760q129.96 0 236.88 70.73Q823.69-618.54 876.92-500q-53.23 118.54-160.04 189.27T480.11-240ZM480-500Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                        </svg> &nbsp; {{formatNumber this.views}}
                    </button>
                    <button
                        onclick="share('{{this._id}}', '{{this.title}}', '{{this.description}}', '{{this.endpoint}}');">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                            focusable="false"
                            style="pointer-events: none; display: inherit; width: 24px; height: 24px;">
                            <path
                                d="M15 5.63 20.66 12 15 18.37V14h-1c-3.96 0-7.14 1-9.75 3.09 1.84-4.07 5.11-6.4 9.89-7.1l.86-.13V5.63M14 3v6C6.22 10.13 3.11 15.33 2 21c2.78-3.97 6.44-6 12-6v6l8-9-8-9z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>

    <!-- Add more cards as necessary -->
</div>
</div>

<script>
    function share(articleId, title, description, endpoint) {
        if (navigator.share) {
            navigator.share({
                title: title,
                text: description,
                url: `https://www.grovixlab.com/page/${endpoint}`,
            }).then(() => {
                console.log('Content shared successfully');
            }).catch(error => {
                console.error('Error sharing content:', error);
            });
        } else {
            alert('Web Share API is not supported in your browser.');
        }
    }
</script>

<script>
    const tscrollContainer = document.getElementById('tcardContainer');
    const tscrollLeftBtn = document.getElementById('tscrollLeft');
    const tscrollRightBtn = document.getElementById('tscrollRight');

    tscrollLeftBtn.addEventListener('click', () => {
        tscrollContainer.scrollBy({
            left: -250, // Adjust this value according to the width of your cards
            behavior: 'smooth'
        });
    });

    tscrollRightBtn.addEventListener('click', () => {
        tscrollContainer.scrollBy({
            left: 250, // Adjust this value according to the width of your cards
            behavior: 'smooth'
        });
    });
</script>