<div class="container">
    <form action="/auth/signup" method="post" class="regForm">
        <div class="inputImage">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="inputBox">
            <input type="text" name="first_name" value="{{data.first_name}}" id="firts_name" placeholder="First Name">
        </div>
        <div class="inputBox">
            <input type="text" name="last_name" id="last_name" value="{{data.last_name}}" placeholder="Last Name">
        </div>
        <div class="inputBox">
            <input type="email" name="email" value="{{data.email}}" id="email" placeholder="Email">
        </div>
        <div class="inputBox">
            <input type="number" style="width: 40px; border-radius: 0 !important;" name="country_code"
                value="{{data.country_code}}" id="country_code" placeholder="+91">
            &nbsp;
            <input type="tel" style="border-radius: 0 !important;" name="phone" value="{{data.phone}}" id="phone"
                placeholder="Phone">
        </div>
        <div class="inputBox" style="background-color: #f0f0f0;">
            <input type="password" placeholder="Password" name="password" id="password">
            <button type="button" id="togglePassword"
                style="margin-left: -30px; background: none; border: none; cursor: pointer;">
                👁️
            </button>
        </div>
        <div class="inputText">
            <input type="checkbox" name="terms_accept" id="terms">
            <span>
                By using our services, you are accepting our <a href="/terms-of-service" target="_blank">terms
                    of service</a>.
            </span>
        </div>
        {{#if error}}
        <div class="inputText">
            <span class="textMsg" style="color: red;">{{error.message}}</span>
        </div>
        {{/if}}
        <div class="inputBox">
            <button>
                SignUp
            </button>
        </div>
        <div class="inputText">
            <span>Do you have a account? <a href="/auth/login">LogIn</a>.</span>
        </div>
    </form>
</div>

<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        const passwordInput = document.getElementById('password');
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.textContent = type === 'password' ? '👁️' : '🔒';
    });
</script>