{{> headers/user/trending_header}}

<style>
    .topWriters {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 90px;
    }

    .topWriters .topContainer {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .topWriters .cardTitle {
        display: flex;
        align-items: center;
    }

    .topWriters .slideIcon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .topWriters .slideIcon button {
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        background-color: #f6f6f6;
    }

    .topWriters .cardContainer {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        padding-bottom: 20px;
    }

    .topWriters .card {
        height: 170px;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 13px;
        overflow: hidden;
        background: #0078e8;
    }

    .topWriters .card .topCard {
        width: 100%;
        height: 60px;
        display: flex;
        overflow: hidden;
        align-items: end;
        justify-content: center;
    }

    .topWriters .card .topCard .topperText {
        width: 100%;
        height: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: start;
        transform: rotate(-5deg);
        transform-origin: left center;
        margin-top: 8px !important;
        margin: 0 -601.5rem;
        padding: 0.25rem 1.5rem;
    }

    .topWriters .card .topCard .topperText marquee {
        color: #000;
        text-transform: capitalize;
        font-size: 12px;
    }

    .topWriters .card .bottomCard {
        width: 100%;
        height: calc(100% - 70px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .topWriters .card .bottomCard .profileArea {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85px;
        height: 100%;
    }

    .topWriters .card .bottomCard .profileArea .profile {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .topWriters .card .bottomCard .profileArea .profile img {
        width: 100%;
        height: 100%;
    }

    .topWriters .card .bottomCard .profileText {
        width: calc(100% - 85px);
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        color: #f6f6f6;
        padding: 10px;
    }

    .topWriters .card .bottomCard .profileText h3 {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: left;
        font-weight: 700;
    }

    .topWriters .card .bottomCard .profileText span {
        font-size: 12px;
        color: #f6f6f6;
        margin: 0px;
        line-height: 20px !important;
        text-align: left;
    }

    .topWriters .card .bottomCard .profileText .name {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: end;
    }

    .topWriters .card .bottomCard .profileText .articleAmount {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: start;
    }

    .artCart .innerCard {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(70, 70, 70, 0.377);
        backdrop-filter: blur(3px);
        padding: 10px 0px 10px;
    }

    .artCart .innerCard .artTitle {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .artCart .innerCard .artBtn {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .artCart .innerCard .artTitle a {
        text-decoration: none;
    }

    .artCart .innerCard .artTitle h3 {
        font-size: 16px;
        margin-left: 20px;
        line-height: 15px;
        color: #fff;
    }

    .artCart .innerCard .artBtn button {
        background: transparent;
        border: none;
        height: 100%;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .artCart .innerCard .artBtn button svg {
        fill: #fff;
    }
</style>


<div class="topWriters">
    <div class="topContainer">
        <div class="cardTitle">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path
                    d="M200-400q0-71.92 28.08-131.62 28.07-59.69 66.92-106.46 38.85-46.77 79.62-79.73T440-768.46V-708q0 55.46 37.31 87.73T561-588q19.31 0 36.73-6.23 17.42-6.23 33.5-18.39l17.23-13.53q51.23 38.92 81.39 98.03Q760-469 760-400q0 91.85-52.23 162.81-52.23 70.96-133.77 99.11 21.62-18.61 33.81-44.42Q620-208.31 620-238q0-26.92-10.38-52.04-10.39-25.11-29.93-44.65L480-432.15l-98.69 97.46q-19.77 19.77-30.54 44.38Q340-265.69 340-238q0 29.69 12.19 55.5T386-138.08q-81.54-28.15-133.77-99.11Q200-308.15 200-400Zm280 23.69 71.15 69.93q13.93 13.92 21.39 31.07Q580-258.15 580-238q0 40.54-29.23 69.27Q521.54-140 480-140q-41.54 0-70.77-28.73Q380-197.46 380-238q0-19.15 7.08-36.42 7.07-17.27 21.77-31.96L480-376.31Z" />
            </svg>
            <h3>Trending</h3>
        </div>
        <div class="slideIcon">
        </div>
    </div>

    <!-- Card -->
    <div class="cardContainer" id="tcardContainer">
        {{#if trend}}
        {{#each trend}}
        <div class="card artCart"
            style="background: url({{#if this.new_thumb}}'/img/article/{{this.endpoint}}-{{this._id}}-0.jpg'{{else}}'{{#if this.new_thumb}}/img/article/{{this.endpoint}}-{{this._id}}-0.jpg{{else}}/img/article/{{this._id}}.jpg{{/if}}'{{/if}})  no-repeat center center;  background-size: cover;">
            <div class="innerCard">
                <div class="artTitle">
                    <a href="/page/{{this.endpoint}}">
                        <h3>{{this.title}}</h3>
                    </a>
                </div>
                <div class="artBtn">
                    <button disabled style="cursor: none !important;">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                            <path
                                d="M480.18-353.85q60.97 0 103.47-42.68t42.5-103.65q0-60.97-42.68-103.47t-103.65-42.5q-60.97 0-103.47 42.68t-42.5 103.65q0 60.97 42.68 103.47t103.65 42.5ZM480-392q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm.11 152q-129.96 0-236.88-70.73Q136.31-381.46 83.08-500q53.23-118.54 160.04-189.27T479.89-760q129.96 0 236.88 70.73Q823.69-618.54 876.92-500q-53.23 118.54-160.04 189.27T480.11-240ZM480-500Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                        </svg> &nbsp; {{formatNumber this.views}}-->
                    </button>
                    <button
                        onclick="share('{{this._id}}', '{{this.title}}', '{{this.description}}', '{{this.endpoint}}');">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                            focusable="false"
                            style="pointer-events: none; display: inherit; width: 24px; height: 24px;">
                            <path
                                d="M15 5.63 20.66 12 15 18.37V14h-1c-3.96 0-7.14 1-9.75 3.09 1.84-4.07 5.11-6.4 9.89-7.1l.86-.13V5.63M14 3v6C6.22 10.13 3.11 15.33 2 21c2.78-3.97 6.44-6 12-6v6l8-9-8-9z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>

<script>
    function share(articleId, title, description, endpoint) {
        if (navigator.share) {
            navigator.share({
                title: title,
                text: description,
                url: `https://www.grovixlab.com/page/${endpoint}`,
            }).then(() => {
                console.log('Content shared successfully');
            }).catch(error => {
                console.error('Error sharing content:', error);
            });
        } else {
            alert('Web Share API is not supported in your browser.');
        }
    }
</script>